<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.launcher.recentsComponent.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android" android:priority="999" />
    <application android:label="Recent Component Overlay" android:hasCode="false" />
</manifest>
